[Unit]
Description=Mail filter that forwards emails as XMPP messages to an XMPP server
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/etc/milter-xmpp
ExecStart=/usr/bin/milter-xmpp.py
StandardOutput=/var/log/milter-xmpp.log
